html {
  --purple-light: ##BB7CE5;
  --purple-regular: #9445CA;
  --purple-dark: #2E1938;
  --yellow-light: #FFE367;
  --yellow-dark: #F3C700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bb7ce5' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center fixed;
  color: var(--purple-regular);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.hero {
  background: var(--purple-dark);
  background-position: center fixed;
  color: white;
  height: 10rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero > .header {
  margin-right: 1rem;
}

.hero-header-link {
  color: white;
}

.hero-logo {
  height: 4rem;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  background: #FFFFFF;
  padding: 2rem 5rem;
  line-height: 1.5rem;
}

.header {
  color: var(--purple-dark);
}

.member-display {
  display: flex;
  flex-wrap: wrap;
}

.member-image {
  border-radius: 100%;
  height: 4rem;
  margin: 0 0.5rem;
}

.accent {
  font-weight: bold;
  color: var(--purple-dark);
}

.footer {
  align-items: center;
  padding: 5rem!important;
}

.footer-logo {
  height: 5rem;
}

.separator {
  border-top: 1px solid  var(--purple-dark);
  width: 100%;
  margin: 3rem 0;
}

@media only screen and (max-width: 800px) {
  .section {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    margin: 0 2rem;
    padding: 0 2rem;
  }

  .member-image {
    height: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    height: 6rem;
  }

  .hero-header {
    font-size: 1.25rem;
  }
}
